h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("photos/tiles.webp");
}

h2.first {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

h2.second {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

h2.third {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

p.title {
    font-weight: bold;
    font-family: Helvetica;
}

a {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

p {
    font-family: Helvetica;
}



